MONGO_URI=your_mongodb_connection_string
PORT=3000
SESSION_SECRET=your_session_secret_here
JWT_SECRET=your_jwt_secret_here
DATABASE_URL=postgresql://username:password@your-neon-host.neon.tech/neondb?sslmode=require
DIRECT_URL=postgresql://username:password@your-neon-host.neon.tech/neondb?sslmode=require

# Cloudinary credentials (Member 3 - Media uploads)
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
